/* Create a skeleton on the empty of these elements to be displayed when element is empty. This is on each page load. */
.thumbnail-page-wrapper {
	display: flex;
	/* position: relative;
	z-index: 0; */
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: white;
	border: 1px solid rgb(240, 236, 236);
	box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
		0 15px 35px rgba(50, 50, 93, 0.3), 0 5px 15px rgba(0, 0, 0, 0.1);
	margin: 15px;
	width: 245px;
	height: 330px;

	/* transition: all .1s ease-in-out; */
}

.thumbnail-page-wrapper:empty {
	height: 330px;
	width: 245px;
	background-image: radial-gradient(circle at right top, white -100%, black),
		linear-gradient(grey, grey), linear-gradient(white, white);
	background-size: 225px 250px, 225px 30px, 100% 100%;
	background-position: 10px 20px, 10px 280px, 0 0;
	background-repeat: no-repeat;
}

.thumbnail-page-wrapper:hover {
	transform: scale(1.05);
}

.thumbnail-wrapper {
	width: 90%;
}

.thumbnail-img {
	object-fit: cover;
	height: 250px;
	width: 100%;
	margin: 0;
	border: 1px solid grey;
}

.thumbnail-title {
	margin: 0px;
}

.fade {
	/* opacity: 0; */
	transition: all 0.5s;
}
