nav {
	width: 100%;
}
.social-nav-btns {
	display: flex;
	justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

.social-nav-btns.about-me {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

label {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	color: black;
}
